body {
        margin: 0;
        padding: 0;
    }
    .container{
        width: 100%px;
        min-height: 100vh;
        background-image: linear-gradient(rgba(77, 76, 0, 0.65),rgba(22, 15, 77, 0.65) ), 
        url(Progetto-senza-titolo-8.png);
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
        
    }
    nav {
        width: 99%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px ;
    }
    .logo{
        padding-left: 60px;
        width: 220px;
        cursor: pointer;
        transition: 0.4s;
    }
    .logo:hover{
        opacity: 50%;
        transition: 0.4s;
    }

    nav ul{
        list-style: none;
        width: 100%;
        text-align: right;
        padding-right: 60px;
    }
    nav ul li{
        display: inline-block;
        margin: 10px 20px;
        padding-top: 25px;
    }
    nav ul li a{
        color: white;
        align-items: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        transition: 0.4s;
    }
    nav ul li a:hover{
        color: rgb(182, 178, 178);
        transition: 0.4s;

    }
    nav ul li {
        position: relative; /* Ensure the pseudo-element is positioned relative to the list item */
    }
    
    nav ul li a::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 1.8px; /* Adjust the thickness of the underline */
        background-color: rgb(207, 207, 207);
        transition: width 0.4s ease; /* Animate the width change */
    }
    
    nav ul li a:hover::before {
        left: 0; /* Move to the left */
        width: 100%; /* Expand to the left */
    }
    

    .Bookings-button{
        display: flex;
        padding-left: 9.5px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        width: 200px;
        border: 0;
        border-radius: 5px;
        background: rgb(184, 155, 252);
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        margin-right: 60px;
        margin-top: 20px ;
        transition: 0.6s;
        font-weight: bold;
        

    }
    
    .Bookings-button:hover{
        opacity: 70%;
        transition: 0.6s;

    }
    .Bookings-button img {
        margin-right: 10px;
        width: 20px;
    }
    .content{
        margin-top: 14%;
        margin-left: 50px;
        color: white;
        max-width: 700px;
    }
    .content h1{
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 55px;
    }
    .p1{
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .content form {
        display: flex;
        align-items: center;
        background: white;
        border-radius: 5px;
        padding: 6px;
        margin-top: 8px;
    }
    .content form input{
        border: 0;
        outline: 0;
        width: 100%;
        font-size: 16px;
        padding-left: 10px;

    }
    .content form .btn {
        font-size: 15px;
        padding: 10px 30px;
        background-color:rgb(172, 137, 255) ;
        border: 0;
        border-radius: 5px;
        color: #fff;
        transition: 0.4s;
        cursor: pointer;
    }
    .content form .btn:hover {
        background-color: rgb(124, 69, 253);
        transition: 0.4s;
    }
