body {
        margin: 0;
        padding: 0;
    }
    #footer{
        text-align: center;
        position: absolute;
        bottom: 20px;
        width: 100%;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;

    }
    
    .container0,.container .container2 {
        transition: transform 0.4s ease-in-out;
    }
      
    .container0{
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(rgba(77, 76, 0, 0.05),rgba(22, 15, 35, 0.55) ), url(Progetto-senza-titolo-8.jpeg);
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
    }
    .container1{
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(rgba(77, 76, 0, 0.65),rgba(22, 15, 77, 0.65) ), 
        url(Progetto-senza-titolo-82.jpeg);
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
        
    }

    .container2{
        width: 100%;
        min-height: 100vh;
        background-image:linear-gradient(rgba(75, 72, 0, 0.65),rgba(22, 15, 77, 0.65) ), 
        url(Progetto-senza-titolo-8.jpeg);
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
    }
    .container3{
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;

    }
    .container4{
        width: 100%;
        max-height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;

    }
    .container5{
        width: 100%;
        max-height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;

    }
    .container6{
        width: 100%;
        max-height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;

    }
    .container7{
        width: 100%;
        max-height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;

    }
    
    

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px ;
    }
    .logo{
        padding-left: 60px;
        width: 220px;
        cursor: pointer;
        transition: 0.4s;
    }
    .logo:hover{
        opacity: 50%;
        transition: 0.4s;
    }

    nav ul{
        list-style: none;
        width: 100%;
        text-align: right;
        padding-right: 60px;
    }
    nav ul li{
        display: inline-block;
        margin: 10px 20px;
        padding-top: 25px;
    }
    nav ul li a{
        color: white;
        align-items: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        transition: 0.4s;
    }
    nav ul li a:hover{
        color: rgb(182, 178, 178);
        transition: 0.4s;

    }
    nav ul li {
        position: relative; /* Ensure the pseudo-element is positioned relative to the list item */
    }
    
    nav ul li a::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 1.8px; /* Adjust the thickness of the underline */
        background-color: rgb(207, 207, 207);
        transition: width 0.4s ease; /* Animate the width change */
    }
    
    nav ul li a:hover::before {
        left: 0; /* Move to the left */
        width: 100%; /* Expand to the left */
    }
    

    .Bookings-button{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        width: 230px;
        border: 0;
        background: rgb(185, 152, 255);
        color: #fff;
        cursor: pointer;
        margin-right: 60px;
        margin-top: 25px ;
        transition: 0.6s;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        border-radius: 80px;
        justify-content: center;
        

    }
    .Beitrag-button{
        display: flex;
        position: absolute;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 19px ;
        padding-right: 19px;
        align-items: center;
        width: 250px;
        border: 0;
        background: rgb(162, 118, 255);
        color: #fff;
        cursor: pointer;
        margin-left: 40%;
        margin-top: -90px;
        transition: 0.6s;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration: none;
        border-radius: 80px;
        justify-content: center;
        z-index: 999;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.8);

    }
    
    .Bookings-button:hover{
        color:rgb(162, 118, 255) ;
        background-color: rgb(243, 238, 255);
        transition: 0.6s;
        border: white;
        

    }
    .Beitrag-button:hover{
        color:rgb(162, 118, 255) ;
        background-color: white;
    }
    
    .container1,
    .container2 {
    position: relative;
    }

    .container1 .content,
    .container2 .content {
    position: absolute;
    bottom: 75px;
    left: 42%;
    transform: translateX(-50%);
    width: 80%;
    color: white;
    }

    .content h1{
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 55px;
    }
    .p1{
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .p9{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .content form {
        display: flex;
        align-items: center;
        background: white;
        border-radius: 5px;
        padding: 6px;
        margin-top: 8px;
    }
    .content form input{
        border: 0;
        outline: 0;
        width: 100%;
        font-size: 16px;
        padding-left: 10px;

    }
    .content form .btn {
        font-size: 15px;
        padding: 10px 30px;
        background-color:rgb(172, 137, 255) ;
        border: 0;
        border-radius: 5px;
        color: #fff;
        transition: 0.4s;
        cursor: pointer;
    }
    .content form .btn:hover {
        background-color: rgb(124, 69, 253);
        transition: 0.4s;
    }
    .Home{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: rgb(214, 214, 214);
        font-size: 20px;
        
    }
    .Nav2{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: rgb(172, 172, 172);

    }
    .Dipas-nav{
        background-image: linear-gradient(to left, rgb(244, 233, 255), rgb(180, 144, 218));
        text-align: left;
        list-style: none ;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        justify-content: space-between;   
    }
    .Dipas-nav a {
        display: inline-block;
        color: white;
        padding: 10px 20px; /* Adjust padding as needed */
        text-decoration: none;
        transition: 0.4s;
    }
    .Dipas-nav a:hover{
        color:rgb(255, 188, 111) ;
        transition: 0.4s;
    }
    .Dipas-text{
        display: inline-block;
    }
    .Dipas-text:nth-child(1) a {
        color: rgb(255, 188, 111); /* Change 'blue' to the desired color */
    }
    .container4 .Dipas-nav li:nth-child(2) a {
        color: rgb(255, 188, 111); /* Set text color of Beitragsliste link to white */
    }
    .container4 .Dipas-nav li:nth-child(1) a {
        color: white; /* Set text color of Beitragskarte link to white */
    }
    /* CSS for container4 */
    .container4 {
        position: relative; /* Make the container position relative */
        height: 100vh; /* Set height to 100% of viewport height */
    }
    
    .container4::before {
        content: ""; /* Add a pseudo-element */
        position: absolute; /* Position the pseudo-element absolutely */
        top: 25%; /* Set the top position to leave 30% from the top */
        bottom: 0; /* Set the bottom to take up the remaining space */
        left: 0; /* Align to the left */
        right: 0; /* Align to the right */
        background-color: #ffffff; /* Grey background color */
        z-index: -1; /* Set z-index to place behind other content */
    }
    .container5 {
        position: relative; /* Make the container position relative */
        height: 100vh; /* Set height to 100% of viewport height */
    }
    
    .container5::before {
        content: ""; /* Add a pseudo-element */
        position: absolute; /* Position the pseudo-element absolutely */
        top: 25%; /* Set the top position to leave 30% from the top */
        bottom: 0; /* Set the bottom to take up the remaining space */
        left: 0; /* Align to the left */
        right: 0; /* Align to the right */
        background-color: #ffffff; /* Grey background color */
        z-index: -1; /* Set z-index to place behind other content */
    }
    #geoportalFrame {
        height: 68vh;
    }
    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; /* Adjust the gap between images as needed */
        margin-top: 20px; /* Add some margin top to separate from the above content */
    }
    
    .image-grid img {
        width: 100%;
        height: auto; /* Ensure images maintain their aspect ratio */
        object-fit: cover; /* Optional: covers the container with the image */
        border-radius: 5px; /* Optional: add rounded corners to images */
    }
    
    
    
    

    .marker-list-container {
        max-height: calc(100vh - 200px);
        overflow-y: auto; /* This will enable vertical scrolling when content exceeds container height */
    }
    
    #markerList {
        width: 100%;
        border-collapse: collapse;
    }
    
    #markerList th,
    #markerList td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }
    
    #markerList th {
        background-color: #f2f2f2;
    }
    
    
    .logo2{
        padding-left: 60px;
        width: 220px;
        cursor: pointer;
        transition: 0.4s;
        
    }
    .logo2:hover{
        opacity: 50%;
        transition: 0.4s;
    }
    .Logo-line{
        background-color: rgb(250, 152, 40);
        width:350px;
        height: 12px;
        color:rgb(250, 152, 40) ;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        margin-top: 12px;
       

    }
    
    ul .Home a{
        color: gray;
    }
    .map {
        height: 80vh;
        width: 95%;
        border: solid;
        border-color: rgb(255, 179, 92);
        margin: 0 auto;
    }
    .image-container {
        position: relative;
    }
    
    .interaction-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* Allow interaction with the image */
    }
    .opinion-poll {
        margin-top: 20px;
    }
    
    .poll-table {
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        font-size: 18px; /* Better font size */
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .poll-table th, .poll-table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    .poll-table th {
        background-color: rgb(209, 190, 253);
        color: white;
        text-align: center;
    }
    
    .poll-table tr:hover {
        background-color: #f1f1f1;
    }
    
    .poll-table td input[type="radio"] {
        transform: scale(1.3); /* Make radio buttons larger */
    }
    
    button[type="submit"] {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: rgb(169, 132, 255);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    button[type="submit"]:hover {
        background-color: rgb(136, 86, 255);
    }
    .large-input {
        width: 200px; /* Adjust the width as needed */
        margin-left: 10px; /* Add some space between the radio button and the text box */
    }
    .poll-table {
        width: 97%;
        border-collapse: collapse;
    }
    .poll-table td {
        padding: 10px;
        vertical-align: middle; /* Ensures vertical alignment of radio buttons and text boxes */
    }
    .poll-table td:first-child {
        text-align: left;
        width: 70%; /* Adjust width percentage as needed */
    }
    .poll-table td:last-child {
        text-align: right;
        width: 30%; /* Adjust width percentage as needed */
    }
    

    @media only screen and (max-width: 800px) {
        /* Styles for screens with a maximum width of 800px or less */
        /* For example, you might adjust the layout or font sizes */
        .container0, .container, .container2 {
            width: 100%;
        }
    
        .logo {
            max-width: 100px; /* Adjust the logo size for smaller screens */
        }
    
        nav ul {
            flex-direction: column; /* Change the navigation list to a column layout */
        }
    
        nav ul li {
                font-size: 14px; /* Adjust the font size of the list items */
                padding: 5px 10px; /* Adjust the padding of the list items */
        }
    
        .Bookings-button {
            margin-top: 15px; /* Adjust the button position */
        }
    
        /* You can add more styles as needed for responsive design */
    }
    
